<div class="about">
        <h2 class="chunk-five">What is Unhackathon?</h2>
        <p class="single-column"> We’re building a hackathon where talented makers and creators of all kinds can code their hearts out. We emphasize mentorship, learning, and diversity of hackers and awards, hoping to find not just the coolest hacks, but the greatest. Our awards will recognize qualities like technical ambition, thoughtful code, inspired design, and potential for improvements beyond the hackathon. </p>
        <p class="single-column"> Unhackathon will take place over 36 hours from September 20 to 21st. We hope to encourage hackers to learn new skills and technologies by making API resources, hardware and interesting data sets available to everyone. We’ll also have everything you’ll need to be productive - many inspiring workings spaces to fit your mood, energy drinks and healthy snacks and meals, and advice from the greatest mentors ever. Our mentors come from the best NYC tech companies and startups, and will be around the whole time to help you with everything from ideas to bugs.</p>
        <h2 class="chunk-five">Why does Unhackathon matter? </h2>

        <p class="single-column">By running a small, focused event, we will be able to try the latest ideas for improving the hackathon experience for everyone. Our hackers will be thoughtful and driven, and we’re counting on their opinions to learn from this event. We’ll be collecting data throughout the weekend and sharing our findings with hackathon organizers everywhere, so we can all learn from our successes and mistakes. We’d like hackathons in general to become more inclusive, welcoming hackers with diverse backgrounds, experiences, and interests - and we look forward to discovering more about how to make that a reality. Some of our areas of interest include varied working environments, a restructured prize system that equally rewards different project qualities, promoting healthy attitudes about eating and sleeping, and a major focus on learning and mentorship. If you have a specific idea for improving hackathons, we’d love to hear it! Send us a note at ideas@unhackathon.org. </p>
        <h2 class="chunk-five">FAQ</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6">

                <h3>Who should attend Unhackathon?</h3>

                <p>Unhackathon is open to any undergraduate who wants to spend a weekend building something great! Whether this is your first hackathon or your 15th, you’ll have opportunities to learn from our hackers and mentors, compete for awards, and have an epic time. You must be a current student and 18 or over to attend. </p>
            </div>



            <div class="col-md-4 col-sm-6">

                <h3>What kind of experience is required?</h3>

                <p>None! One of the things we like best about hackathons is that they’re great places to jump in and learn something completely new. Designers, game programmers, web developers and hardware hackers are all more than welcome. Use this opportunity to get outside your comfort zone and learn a new technology, API, or skill. We’ll even have awards for trying new things and having crazy awesome technical ambition.</p>
            </div>

            <div class="col-md-4 col-sm-6">

                <h3>What will mentorship be like?</h3>

                <p>We are so excited about our mentorship program. Our mentors will be coming from the best tech companies and startups in NYC. They’ll be around throughout the weekend to listen to your ideas, help you with technical challenges, and even help you learn new skills from the beginning. You can ask them questions about the real world of technology, and pick their brains about their areas of expertise.</p>
            </div>
            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="col-md-4 col-sm-6">

                <h3>How does registration work?</h3>

                <p>We’re accepting applications on a rolling basis, so apply now! We have no requirements for technical ambition or previous hackathons and awards - instead, we’re looking for creative hackers with diverse backgrounds, interests, and skill sets. Most of all, we’re excited to hear from thoughtful people who like the idea of influencing hackathons for the better.</p>
            </div>

            <div class="col-md-4 col-sm-6">

                <h3>How big should teams be?</h3>

                <p>Teams should be at most 4 people. You can choose your teammates before you arrive, or meet them at one of our opening activities. You are also free to work on a project by yourself and hang out with our hackers and mentors whenever you want.</p>
            </div>

            <div class="col-md-4 col-sm-6">

                <h3>How much does attending cost?</h3>

                <p>Unhackathon is totally free! We’ll provide healthy meals and snacks, an excellent working environment, great places to hang out and nap, and  of course more swag than you’ll know what to do with.</p>
            </div>
            <div class="clearfix visible-lg-block visible-md-block"></div>

            <div class="col-md-4 col-sm-6">

                <h3>What should I bring with me?</h3>

                <p>Your brain, and your heart! And anything else that you need to be your most productive. Laptop, peripherals, sweatshirt, change of clothes, and a pillow and sleeping bag if you plan on napping. We’re working on getting some hardware to hack on, but you should plan on bringing anything you definitely need.</p>
            </div>

            <div class="col-md-4 col-sm-6">

                <h3>How does travel work?</h3>

                <p>Unhackathon is located at AlleyNYC, in New York City, NY. We’ll be sending buses around the East Coast to pick up students from their universities. The more students from your school attend, the better chance you’ll have of grabbing a bus. And no matter what, if you can get to New York City we’ll pick you up!</p>
            </div>

            <div class="col-md-4 col-sm-6">

                <h3>What kinds of awards can I win?</h3>

                <p>We find that the standard hackathon awards system doesn’t encourage much project diversity or recognize subtle accomplishments like beautiful code, technical ambition, or brilliant user experience. Instead of awarding a grand prize, we’ll have prizes that reward our hacks’ best qualities. We consider them all to be equally important.  Check back soon for a full list along with our schedule!</p>
            </div>

            
            <div class="clearfix visible-lg-block visible-md-block"></div>

            <div class="col-md-4 col-sm-6">

                <h3>Where’s the schedule?</h3>

                <p>Good question! It’ll be coming out soon as we finalize our speakers and activities. Stay tuned!</p>
            </div>

            <div class="col-md-4 col-sm-6">

                <h3>What if I have another question?</h3>

                <p>You should email us at <a href="mailto:team@unhackathon.org">team@unhackathon.org</a>. We look forward to hearing from you!  
            </div>
        </div>
        <h2 class="chunk-five">Sponsors</h2>
        <div id="major-sponsors"  class="clearfix">
            <% ["softheon", "mandrill"].each do |sponsor|%>
                <%== erb :_sponsor, locals: {:sponsor => sponsor} %>
            <% end %>
        </div>

        <div id="minor-sponsors" class="clearfix">
            <% ["bloomberg", "media-radar", "digital-ocean", "google"].each do |sponsor|%>
                <%== erb :_sponsor, locals: {:sponsor => sponsor} %>
            <% end %>
        </div>
        <p class="single-column">Interested in being a sponsor? We'd love to hear from you! Send us a note at <a href="mailto:sponsorship@unhackathon.org">sponsorship@unhackathon.org</a></p>
    </div>