<div id="confirmed" class="top">
    <div class="blurred-info">
        <h2 class="fs-title large">Success!</h2>
        <p>Thanks for confirming your email address.</p>
        <p>We're going through applications as they come in, so you should hear from us within a week. If you don't, feel free to shoot us a note at team@unhackathon.org. </p>

        <p>We hope to see you in September!</p> 
    </div>
</div>