<div id="confirmed" class="top">
    <div class="blurred-info">
        <h2 class="fs-title large">Application Canceled</h2>
        <p>You've successfully canceled your Unhackathon application.</p>
        <p>We'll really miss you at the event, and hope you have a great fall semester.</p>
        <p>If you change your mind before August 31, you can click one of the other links in your acceptance email to let us know. After August 31, shoot us an email.</p>

        <p>Bye for now!</p> 
    </div>
</div>