<div id="confirmed" class="top">
    <div class="blurred-info">
        <h2 class="fs-title large">Application Canceled</h2>
        <p>You've successfully canceled your Unhackathon application.</p>
        <p>We'll really miss you at the event, and hope you have a great fall semester.</p>

        <p>Bye for now!</p> 
    </div>
</div>