<div id="logo">
    <div class="name">Un<br>hack<br>athon</div>
    <div class="date">Sept. 20-21</div>
    <div class="place">New York City</div>
</div>

<div id="conduct">
<h3>The Unhackathon Code Of Conduct</h3>



<p>Unhackathon and its organizers are committed to providing a welcoming and harassment-free environment for participants of all races, gender identities, sexual orientations, physical abilities, physical appearances, and beliefs. </p>



<p>We’ve written this code of conduct not because we expect bad behavior from our community – which, based on our applications, is overwhelmingly kind and civil – but because we believe a clear code of conduct is a necessary part of building a respectful community space.</p>



<p>Unhackathon participants agree to:</p>



<p>Be considerate in speech and actions, and actively seek to acknowledge and respect the boundaries of fellow attendees.</p>

<p>Refrain from demeaning, discriminatory, or harassing behavior and speech. Harassment includes, but is not limited to: deliberate intimidation; stalking; unwanted photography or recording; sustained or willful disruption of talks or other events; inappropriate physical contact; use of sexual or discriminatory imagery, comments, or jokes; and unwelcome sexual attention. If you feel that someone has harassed you or otherwise treated you inappropriately, please alert any member of the Unhackathon team in person, via the team phone/text line, or via email. As this is a hackathon we like to explicitly note that the hacks created at our hackathon are equally subjective to the anti-harassment policy. Hacks should not involve sexualised images, activities, or other offensive material.</p>

<p>Respect the venue. We are very lucky to have this space at AlleyNYC. Please be considerate of security. Note that those not participating in Unhackathon are not allowed in the building.</p>





<p>Take care of each other. Alert a member of the Unhackathon team if you notice a dangerous situation, someone in distress, or violations of this code of conduct, even if they seem inconsequential.</p>



<p>How to Reach Us: Members of the Unhackathon team will be available via voice or text. You can find those numbers at <a href="http://unhackathon.org/hackers/conduct">unhackathon.org/hackers/conduct.</a> </p>



<p>If any attendee engages in harassing behavior, the hackathon organizers may take any lawful action we deem appropriate, including but not limited to warning the offender or asking the offender to leave the hackathon. (If you feel you have been unfairly accused of violating this code of conduct, you should contact the Unhackathon team with a concise description of your grievance; any grievances filed will be considered by the entire Unhackathon team.)</p>



<p>We welcome your feedback on this and every other aspect of Unhackathon, and we thank you for working with us to make it a safe, enjoyable, and friendly experience for everyone who participates.</p>



<p>Above text is adapted from the SRCCON Code of Conduct (<a href="http://srccon.org/conduct/">http://srccon.org/conduct/</a>) and the Hack Code of Conduct (<a href="http://hackcodeofconduct.org/">http://hackcodeofconduct.org/</a>) and licensed CC BY-SA 4.0.</p>

<h3>Anonymously Report an Incident:</h3>
Fill out this form to contact anonymously, otherwise text Hanne at 801-433-8671.

<form action="/hackers/report" method="POST">
<textarea class="report-textarea" name="report"></textarea><br>
<input class="report-submit" type="submit" value="Submit">
</form>
</div>