<div id="confirmed" class="top">
    <h2 class="fs-title large">Sure you want to deregister?</h2>
    <form action="/cancel_confirmed?token=<%= token %>&id=<%= id %>">
        <input type="submit" value="Yes, I'm definitely not going." class="action-button big-btn">
    </form>
</div>