<div id="confirmed" class="top">
    <div class="page blurred-info" id="success-page">
        <h2 class="fs-title">You're all set!</h2>
        <p>Can't wait to see you at Unhackathon in September. If you're still looking for a team, don't forget to tell your friends to apply! We've also created <a href="https://www.facebook.com/groups/unhackathonhackers/" target="_blank">this facebook group</a> for accepted hackers to talk teams and projects.</p> 
        <p>Any questions? Always feel free to email us at <a href="mailto:team@unhackathon.org">team@unhackathon.org</a>. </p>
    </div>
</div>