<div id="confirmed" class="top">
    <div class="blurred-info">
        <h2 class="fs-title large">Hurray!</h2>
        <p>This weekend will be a blast!</p>
        <p>We're so excited to see you!</p>
    </div>
</div>