<div id="logo">
    <div class="name">Un<br>hack<br>athon</div>
    <div class="date">Sept. 20-21</div>
    <div class="place">New York City</div>
</div>
<div class="top">
<!-- multistep form -->
<div class="scroll-down-arrow"><span class="glyphicon glyphicon-chevron-down"></span></div>
</div>
<div class="bottom">
    hi there!
</div>

<!-- jQuery -->
