<div id="logo">
    <div class="name">Un<br>hack<br>athon</div>
    <div class="date">Sept. 20-21</div>
    <div class="place">New York City</div>
</div>
<div class="other-page">
<a class="hacker-link" href="/hackers/conduct">Code of Conduct</a>
<a class="hacker-link" href="/hackers/schedule">Schedule</a>
<a class="hacker-link" href="/hackers/shirts">Paint Your Shirt Signup</a>
<a class="hacker-link" href="/hackers/mentorship">Mentorship</a>
</div>

<!-- jQuery -->
