<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<link rel="stylesheet" href="css/index.css"></link>
</head>
<body>
	<%= yield %>
	<script src="js/index.js"></script>
</body>
</html>