<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css"></link>
	<link rel="stylesheet" href="css/about.css"></link>
	<link rel="stylesheet" href="css/bootstrap.min.css"></link>    
</head>
<body>
	<%= yield %>
    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script src="js/index.js"></script>
    <!-- jQuery easing plugin -->
    <script src="js/jquery.easing.js" type="text/javascript"></script>
</body>
</html>