<div id="logo">
    <div class="name">Un<br>hack<br>athon</div>
    <div class="date">Sept. 20-21</div>
    <div class="place">New York City</div>
</div>

<div id="schedule">
<h3>Mentorship</h3>

</div>