<div id="logo">
    <div class="name">Un<br>hack<br>athon</div>
    <div class="date">Sept. 20-21</div>
    <div class="place">New York City</div>
</div>

<div id="conduct">
Thank you very much for your report. We take your safety very seriously. We will deal with the issue as soon as possible. Please don't ever hesitate to contact us regarding any concerns.
</div>