/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: chunkFive;
    src: url(../fonts/chunkfive-webfont-webfont.woff);
}

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

body {
	font-family: montserrat, arial, verdana;
	background-size: cover;
}

#conduct, .other-page {
    margin: 20px 50px 20px 200px;
    max-width:600px;
}

.hacker-link {
    display: block;
    margin: 20px;
}

.sponsor-image {
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-size: contain;
}

.sponsor-image.bloomberg {
    background-position-y:40%;
    background-size: 160px;
}

.sponsor-image.entrepeneur {
    background-position-y: 0px;
}

#major-sponsors {
    margin-top: 0px;
    margin-left: 0px;
    width: 800px;
}

#major-sponsors .sponsor-image {
    width: 400px;
    height: 300px;
    float:none;
    margin-left: auto;
    margin-right: auto;
}

#minor-sponsors {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom:20px;
}

#minor-sponsors .sponsor-image {
    width: 245px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

#tiny-sponsors {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom:20px;
}

#tiny-sponsors .sponsor-image {
    width: 150px;
    height: 100px;
    margin-left: 25px;
    margin-right: 25px;
}


#logo {
    width: 160px;
    height: 160px;
    background-size: 100px 100px;
    background-color: #cc0000;
    position: fixed;
    left: 20px;
    top: 20px;
    color: #f8f8f8;
    color:white;
    padding: 8px;
    font-size: 12px;
    z-index: 1;
}

#logo > .name {
    font-size: 37px;
    line-height: 34px;
    font-family: chunkFive;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.chunk-five {
    font-family: chunkFive;
}

.about p.single-column {
    text-align: justify;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#confirmed .blurred-info {
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 150px;

    margin-left: auto;
    margin-right: auto;

    background-image: url("../img/background-blur.jpg");
    background-position: center -215px;
    background-size: 100vw;
    width: 300px;
    font-size: 13px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
    color: #333;
}

.about{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.about h2{
    text-align: center;
    margin-top: 60px;
}

.about h3 {
    font-size: 19px;
}

/*form styles*/
#msform {
	width: 450px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.tall #msform .page {
    background-size: 167vh;
}
#msform .page {
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;

    background-image: url("../img/background-blur.jpg");
    background-position: center -146px;
    background-size: 100vw;
    font-size: 13px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform div.page {
    display: none;
}
/*inputs*/
#msform input {
	padding: 13px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform input:invalid, #msform input.error_field, #msform select.error_field{
    border: 1px solid red;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #cc0000;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

.report-textarea {
    width: 100%;
    height: 200px;
}

.report-submit {
    width: 100px;
    background: #cc0000;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #cc0000;
}
/*headings*/
.fs-title {
    font-family: chunkFive;
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-title.large {
    font-size: 18px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #333;
	margin-bottom: 20px;
}
.fs-subtitle.large {
    font-size: 17px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    position: relative;
    z-index: 0;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
}

#progressbar.four li {
    width: 25%;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #cc0000;
	color: white;
}

body{
	width: 100%;
	height: 100%;
}

.tall .top {
    background-size: 167vh;
}

.top {
	height:100vh;
    min-height: 650px;
    background-image: url("../img/background.jpg");
    background-size: 100vw;
    background-position: center 0px;
    padding-top: 67px;
    position: relative;
}

.scroll-down-arrow {
    text-align: center;
    font-size: 21px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    color: #cc0000;
}

.bottom{
	width: 100%;
	height: 100%;
	background-color: #FFF;
}

.bool-slider 
{
	margin: auto;
    border: 1px solid #CCC;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    
    height: 35px;
    width: 100px;
    border-radius: 25px;
}

.bool-slider.true .inset
{
    background-color: #51a351;
        *background-color: #499249;
    background-image: linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        background-image: none;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.true .inset .control{float: left;}
.bool-slider.true .inset .control:after
{
    content: 'Yes';
    position: relative;
    right: -135%;
    top: 20%;
}

.bool-slider.false .inset
{
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        background-image: none;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.false .inset .control{float: right;}
.bool-slider.false .inset .control:before
{
    content: 'No';
    position: relative;
    left: -100%;
    top: 20%;
}

.bool-slider .inset
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.bool-slider .inset .control
{
    background-color: #000;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
}

.bool-slider .inset .control:hover
{
    cursor: pointer;
}

.bool-slider.disabled
{
    color: #CCC;
}

.bool-slider.disabled .inset
{
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
}

.bool-slider.disabled .control
{
    cursor: default;
}

.survey-header {
    font-weight: 700;
    margin-bottom: 5px;
}

.checkbox-survey-header {
    margin-top: 5px;
}

.light-survey-header {
    margin-bottom: 5px;
}

.survey-header.initial-question {
    font-weight: 15px;
}

.checkboxes{
	text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkboxes-short {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

div.checkbox-container {
    padding-left: 0;
    padding-right: 0;
}

#other-interest {
    display: none;
}

.checkbox-container input.fancy-checkbox[type=checkbox]{
    display: none;
}


.checkbox-container .fancy-checkbox + label {
    text-align: left;
    font-weight: normal;
    font-size: 13px;
    position: relative;
    display: block;
    padding-left: 35px;
}

.checkbox-container .fancy-checkbox + label .visual-checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: #cc0000;
}

.checkbox-container .fancy-checkbox:checked + label {
}

.checkbox-container .fancy-checkbox + label .visual-checkbox:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px;
    height: 7px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block; 
}

.checkbox-container .fancy-checkbox + label:hover .visual-checkbox:after {
    opacity: 0.5;
}

.checkbox-container .fancy-checkbox:checked + label .visual-checkbox:after {
    opacity: 1;
}

.checkbox{
	width:15% !important;
} 

.alternative-indicator {
    font-weight: normal;
    margin: 5px 0;
}

.slider-caption {
    width: 120px;
    font-size: 12px;
    padding-top: 10px;
}

.slider-caption:before {
    content: " ";
    display: block;
    float: left;
    margin-top: -8px;
    margin: -8px 0 2px 2px;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
}

.slider-caption.left {
    float: left;
    text-align: left;
}

.slider-caption.right:before {
    float: right;
}

.slider-caption.right {
    float: right;
    text-align: right;
}

#msform fieldset select{
	font-size: 13px;
	width: 100%;
    border: 1px solid gray;
}

#msform fieldset textarea{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 11px;
    height: 70px;
}

#msform fieldset textarea.short-text {
    height: 50px;
    font-size: 13px;
}

.big-btn{
	width: 100% !important;
	font-size: xx-large;
}

@media(max-width: 991px) {
    #major-sponsors {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    #major-sponsors .sponsor-image {
        height: 200px;
    }

    .sponsor-image.mandrill {
        background-size: 400px;
    }

    #minor-sponsors {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    #minor-sponsors .sponsor-image {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #tiny-sponsors {
        width: 400px;
    }
    #tiny-sponsors .sponsor-image {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

}

@media(max-width: 767px) {
    #conduct, .other-page {
        margin: 20px 50px;
    }

    .about {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about p {
        text-align: justify;
    }

    #logo {
        position: static;
        width: auto;
    }
}

@media(max-width: 400px) {
    #major-sponsors {
        width: 100%;
        margin-top: 0;
    }

    #major-sponsors .sponsor-image {
        height: 200px;
        width: 100%;
    }

    #minor-sponsors .sponsor-image.mandrill {
        background-size: contain;
    }

    #minor-sponsors {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    #tiny-sponsors {
        width: 150px;
    }

    #minor-sponsors .sponsor-image {
        width: 100%;
        margin: 0;
    }

    #msform {
        width: auto;
    }

    #progressbar {
        display: none;
    }

    .top {
        margin: 0;
        padding: 0;
        height: 450px;
        min-height: 0;
    }

    .bottom {
        height: auto;
    }

    #msform .page {
        margin: 0;
        border-radius: 0;
        background-position: center 0px;
        height: 450px;
        background-size: 800px;
        width: 100%;
    }
}