<p>Your closest bus pickup will be Binghamton University, in Binghamton, NY. We’ll be leaving at around 4 AM on Saturday morning, and you’ll be on a bus with students from University of Waterloo, University of Buffalo, University of Rochester, University of Binghamton, and Cornell University. We’ll have official time and place information for you on Wednesday night so you can get ready to go. </p>

<p>We are so looking forward to seeing you this Saturday! Hit this giant confirmation button so we know you’ll be there, and we should expect you on your bus. <b>You must confirm by clicking this button, or your space on a bus will not be reserved.</b> </p>

<%= giant_double_confirm_button %>

<p>If you can no longer attend, we’ll definitely miss you. Click <a href="<%= cancel_url%>">here</a> to cancel and we’ll give your bus seat and space at Unhackathon to someone on the waiting list. If you’ve decided to attend but won’t be using our transportation, please write us back with your plans and we’ll just pass along your bus seat. </p>

<p>As always, if you’ve got any questions, feel free to write us any time.</p>

<p>Cheers,<br>
The Unhackathon Team </p>