<p>Because you go to school near New York City, public transportation will be your best option for getting to the city. AlleyNYC is within a 15 minute walk from Grand Central, so you’ll find it easy to take Metro North there on Saturday morning to check in between 7:30 and 8:30am. We’ll send you a schedule that looks good on Wednesday night, but you’re definitely free to look into it beforehand. Your travel to Unhackathon will still be totally free - we’ll be reimbursing your round trip tickets at the event. More info on reimbursements will be coming along with your suggested schedule.</p> 
  
<p>We absolutely can’t wait to see you this Saturday! Hit this giant confirmation button so we know you’ll be there. </p>

<%= giant_double_confirm_button %>

<p>If you can no longer attend, we’ll definitely miss you. Click <a href="<%= cancel_url%>">here</a> to cancel and we’ll give your space at Unhackathon to someone on the waiting list. </p>

<p>As always, if you’ve got any questions, feel free to write us any time. </p>

<p>Cheers,<br>
The Unhackathon Team</p>