<p>Your school is outside our bus range, so we can’t pay for your transportation. In order to attend, you can meet up with students from a school in Albany, Binghamton, Boston, Buffalo, College Park, Ithaca, Montreal, Philadelphia, Pittsburgh, Providence, Rochester, State College. Albany, Binghamton, Boston, Buffalo, College Park, Ithaca, Montreal, Philadelphia, Pittsburgh, Providence, Rochester, or State College, or book your own transportation. We hope you’ll be able to make it! </p>

<p>If you can still attend Unhackathon, we’re so looking forward to seeing you this Saturday. Hit this giant confirmation button so we know you’ll be there. </p>

<%= giant_double_confirm_button %>

<p>If you can no longer attend, we’ll definitely miss you. Click <a href="<%= cancel_url%>">here</a> to cancel and we’ll give your space at Unhackathon to someone on the waiting list. </p>

<p>As always, if you’ve got any questions, feel free to write us any time. </p>

<p>Cheers,<br>
The Unhackathon Team</p>