<p>We know that the new location is a surprise to Stony Brook students, and we're committed to making sure you're still able to attend the event. Right now we're trying to book charter buses from Stony Brook to Manhattan early Saturday morning, but if we can't we'll be reimbursing everyone for an LIRR ticket without fail. We should know the final answer tomorrow, and we'll write to you then!</p> 

<p>One reminder before you confirm - we've had a few grad students sign up by mistake. Unhackathon is for undrgrads only, but we'd love to see you there as a mentor! We'd appreciate you cancelling your application below and then signing up to mentor instead at unhackathon.org/mentors</p> 
  
<p>Hit this giant confirmation button so we know you’ll be at Unhackathon. <b>You must confirm by clicking this button, or we won't be able to factor you into our transportation arrangements.</b></p>

<%= giant_double_confirm_button %>

<p>If you can no longer attend, we’ll definitely miss you. Click <a href="<%= cancel_url%>">here</a> to cancel and we’ll give your space at Unhackathon to someone on the waiting list. </p>

<p>As always, if you’ve got any questions, feel free to write us any time. </p>

<p>Cheers,<br>
The Unhackathon Team</p>