<p>Because you go to school in New York City, public transportation will be your best option for getting to Unhackathon. AlleyNYC is within a ten minute walk from the 34th street A, C, E, 1, 2, 3, B, D, F, M, N, Q, and R trains, so you’ll find it easy to take the subway there on Saturday morning to check in between 7:30 and 8:30am. Congratulations on two more hours of sleeping in. :)</p>
  
<p>We are so looking forward to seeing you this Saturday! Hit this giant confirmation button so we know you’ll be there. </p>

<%= giant_double_confirm_button %>

<p>If you can no longer attend, we’ll definitely miss you. Click here to cancel and we’ll give your space at Unhackathon to someone on the waiting list. </p>

<p>As always, if you’ve got any questions, feel free to write us any time. </p>

<p>Cheers,<br>
The Unhackathon Team</p>