<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
    <div marginwidth="0" marginheight="0">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                <tr>
                    <td align="center" valign="top">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-top:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0">
                                
                                    <a href="www.unhackathon.org" target="_blank">
                                        <img align="left" alt="" src="http://www.unhackathon.org/img/email_top.png" width="564" style="max-width:620px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                    </a>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">
                        
                            Hey <%= @name %>, <br>
<br>
I'm excited to tell you that your application to Unhackathon has been accepted! After reading all your thoughts and ideas in our survey section, we think you're an excellent fit for the event. Congratulations! <b>It is EXTREMELY IMPORTANT that you confirm using one of the buttons in this email if you intend to attend Unhackathon, so read carefully.</b>
<br>
<br>
 We've accepted hackers with incredibly diverse backgrounds and interests, and all levels of experience, to be part of Unhackathon. It's a smart, engaged, and friendly group, so you're bound to make friends and have interesting conversations. Our team of inspiring mentors will also be around to help and advise.<br>
<a href="https://a.tiles.mapbox.com/v4/hannep.j6me9d83/page.html?access_token=pk.eyJ1IjoiaGFubmVwIiwiYSI6IjYybzlPM2MifQ.JkZw762oCUHD6iNtpHXKBQ#6/41.755/-76.696" target="_blank"><img align="left" alt="Our bus area map. Click for detail. " height="210" src="http://www.unhackathon.org/img/transit_map.png" style="width:200px;height:190px;margin:10px" width="220"></a>
<br>
This is the map of schools we have the funding to potentially get transportation for. Please check to see if you are within this shape, and select an option accordingly. 
<br>
If you live within the red shape, and you go to a school with at least 8 confirmed hackers, we will be providing your transportation either by picking you up in a chartered bus or by booking you a public transportation ticket. If you are within the shape but aren't part of a group, we will help you try to figure out how to meet another school's transportation. Everyone will meet at our awesome new location, AlleyNYC in Manhattan, between 7:30 and 8:30 for registration.<br>
<br>
<div style="clear:both;">If you are still planning on attending Unhackathon, please press one of these two huge red buttons so we know what your plans are: </div></span>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #aa0000;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#cc0000">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px">
                                <a href="<%= confirm_url("bus") %>" title="I live in the red shape, and I am 100% sure I can attend if my transportation is provided. I'll be ready for a phone call from an Unhackathon team member tomorrow!" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;padding:16px;display:block">I live in the red shape, and I am 100% sure I can attend if my transportation is provided. I'll be ready for a phone call from an Unhackathon team member tomorrow!</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #aa0000;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#cc0000">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px">
                                <a href="<%= confirm_url("own") %>" title="I will be attending, and handling my own transportation to Unhackathon. See you on Saturday between 7:30 and 8:30am." style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;padding:16px;display: block">I will be attending, and handling my own transportation to Unhackathon. See you on Saturday between 7:30 and 8:30am.</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">
                        
                            IMPORTANT: If it turns out you can't attend anymore, <a href="<%= cancel_url() %>" target="_blank">click here.</a> We'll miss you. <br>
<br>
As always, feel free to email any time you have a question about Unhackathon. We can't wait to meet you in three days! <br>
<br>
Cheers,<br>
Hanne &amp; the Unhackathon Team 
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-bottom:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body></html>
