<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
    <div marginwidth="0" marginheight="0">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                <tr>
                    <td align="center" valign="top">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-top:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0">
                                
                                    <a href="www.unhackathon.org" target="_blank">
                                        <img align="left" alt="" src="http://www.unhackathon.org/img/NYCBanner.png" width="564" style="max-width:620px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                    </a>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">
<p>Hey,</p>

<p>In this email, we’ll be telling you more about transportation to the event, and getting final confirmation from you about your plans. But first — some exciting news. </p>

<p>Unhackathon is moving, to the AlleyNYC coworking space in New York City! Our school venue fell through, so our friends at Alley jumped in to provide our new and seriously awesome digs. You’ll be hacking in the space many great NYC startups, including Major League Hacking, call home. The change of space has the added benefit of being more convenient - it’ll shorten bus rides and allow some students to travel by public transportation, it will allow way more mentors from the NYC area to attend, and our delicious catering options just increased by a factor of 1000. And did we mention the wonderful views out the windows of our spacious 17th floor workspace? We visited the space today, and we know it will be wonderful for both hacking and relaxing. We are so excited about the change, and we hope you are too. </p>

<p>We’re in the final stages of booking our buses to the new location, so we’d appreciate it if you’d confirm once more that you’re planning on attending. We have a long waiting list of students hoping to attend Unhackathon, so if you can no longer attend, please let us know.</p>
   
<%= location_html %>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-bottom:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body></html>
