<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
    <div marginwidth="0" marginheight="0">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                <tr>
                    <td align="center" valign="top">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-top:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0">
                                
                                    <a href="www.unhackathon.org" target="_blank">
                                        <img align="left" alt="" src="http://www.unhackathon.org/img/NYCBanner.png" width="564" style="max-width:620px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                    </a>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">
<p>Hello from Unhackathon!,</p>

<p>Thank you so much for your patience as we continue working on your transportation to the city. Buses have been extremely difficult to book for this weekend, as there a few other large events happening around the East Coast and in Montreal that have booked them. Right now, we need to know whether or not you're still able to attend Unhackthon so we can book transportation most effectively. Don't forget to confirm your attendance with the button below!
</p>

<p>We believe in transparency, so here's our exact plan for tomorrow: We'll spend the day continuing to call every bus company we can find, to get buses scheduled to pick up in Buffalo, Rochester, Ithaca, Montreal, Albany, Boston,  Providence, Pittsburgh, State College, Philadelphia, College Park, New Brunswick, and Stony Brook. If we can't find a bus that fits your students, we'll call you to set you up with a ticket for public transportation like a Greyhound bus or Amtrak. You won't have to pay, and we'll book you the most convenient tickets available. We'll also try to book everyone from your school on the same vehicle as much as possible to maintain that fun pre-hackathon atmosphere. 
</p>

<p>We’re in the final stages of booking our buses to the new location, so we’d appreciate it if you’d confirm once more that you’re planning on attending. We have a long waiting list of students hoping to attend Unhackathon, so if you can no longer attend, please let us know.</p>
   
<%= giant_double_confirm_button %>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top" style="padding-bottom:9px"></td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body></html>
